In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('adult.data.csv')

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

<h3>How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [5]:
df.race.value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

<h3>What is the average age of men?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [6]:
float(df[df['sex']=='Male'].age.mean().__format__('.1f'))

39.4

<h3>What is the percentage of people who have a Bachelor's degree?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [7]:
round(((df[df['education']=='Bachelors'].education.count()/df.education.count())*100),1)

16.4

<h3>What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [8]:
(df.query("'Bachelors' in education or 'Masters' in education or 'Doctorate' in education").education.count()/df.education.count()*100)

23.006050182733944

In [9]:
(df.query("not('Bachelors' in education or 'Masters' in education or 'Doctorate' in education) ").education.count()/df.education.count()*100)

76.99394981726606

In [10]:
float(format(df[(df['education'].isin(['Bachelors','Masters','Doctorate']))&(df['salary']=='>50K')].shape[0]/df[df['education'].isin(['Bachelors','Masters','Doctorate'])]['education'].count(),'.3f'))*100

46.5

<h3>What percentage of people without advanced education make more than 50K?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [11]:
(df.query("not('Bachelors' in education or 'Masters' in education or 'Doctorate' in education) and '>50K' in salary ").education.count()/df.query("'Bachelors' in education or 'Masters' in education or 'Doctorate' in education").education.count())

0.5813643038312641

In [12]:
float(format(df[(~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])) & (df['salary']=='>50K')].education.count()/df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])].education.count()*100,'.1f'))

17.4

<h3>What is the minimum number of hours a person works per week?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [13]:
df['hours-per-week'].min()

1

<h3>What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [14]:
(df[(df['hours-per-week']==df['hours-per-week'].min()) & (df.salary=='>50K')].shape[0]/df[(df['hours-per-week']==df['hours-per-week'].min())].shape[0] *100)

10.0

<h3>What country has the highest percentage of people that earn >50K and what is that percentage?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [15]:
(df[(df['salary']=='>50K')].groupby('native-country').count()['salary'].sort_values(ascending=False)/df.groupby('native-country').size()*100).sort_values(ascending=False).idxmax()

'Iran'

<h5>The Percentage</h5>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [16]:
float(format((df[(df['salary']=='>50K')].groupby('native-country').count()['salary'].sort_values(ascending=False)/df.groupby('native-country').size()*100).sort_values(ascending=False)[0],'.1f'))

C:\Users\moham\AppData\Local\Temp\ipykernel_17580\4123821323.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  float(format((df[(df['salary']=='>50K')].groupby('native-country').count()['salary'].sort_values(ascending=False)/df.groupby('native-country').size()*100).sort_values(ascending=False)[0],'.1f'))

41.9

<h3>Identify the most popular occupation for those who earn >50K in India.?</h3>

![separator2](https://i.imgur.com/4gX5WFr.png)

In [17]:
df[(df['native-country']=='India') & (df['salary']=='>50K')]['occupation'].value_counts().idxmax()

'Prof-specialty'